html, body {
  height: 100%;
  background-color: #eee;
  background-image: url("../img/bg_text.gif");
}

p {
  margin: 0;
  padding: 0.5em 0;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
}

@font-face {
  font-family: "PT Sans Pro Condensed"; /* Имя шрифта */
  src: url("../ttf/PT Sans Pro Condensed.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Sans Pro Caption"; /* Имя шрифта */
  font-weight: normal;
  font-style: normal;
  src: url("../ttf/PT Sans Pro Caption.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Serif Pro Book"; /* Имя шрифта */
  font-style: normal;
  font-weight: normal;
  src: url("../ttf/PT Serif Pro Book.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Serif Pro Book"; /* Имя шрифта */
  font-style: italic;
  font-weight: normal;
  src: url("../ttf/PT Serif Pro Book Italic.woff"); /* Путь к файлу со шрифтом */
}

/* Настройка ScrollMagic */
html.touch div#content-wrapper {
  min-width: 700px;
}

#content-wrapper {
  height: 100%;
  max-width: 2880px;
  min-width: 650px;
  min-height: 500px;
}

#content-wrapper section {
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3em;
  border-radius: 15px;
  box-shadow: inset 0 0 9px 0 #353535;
  overflow: hidden;
  position: relative;
  background-image: url("../img/grunge_wall.png");
}

#content-wrapper section p {
  width: 66%;
  margin-left: 17%;
}

.scrollContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 650px;
  width: 100%
}

.scrollContent {
  position: relative;
  /*height: 100%;*/
}

/* Блок навигации по слайдам */
#navigation-bar {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 20px;
}

#navigation-bar ul {
  display: none;
  list-style: none;
  font-size: 10px;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#navigation-bar ul li {
  display: inline-block;
  background-color: #353535;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  border-width: 2px;
  border-color: #aaa;
  border-style: solid;
}

#navigation-bar ul li,
#navigation-bar ul li a,
#navigation-bar ul li.not-circle a:hover,
#navigation-bar ul li.not-circle:hover a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#navigation-bar ul li.active,
#navigation-bar ul li:hover {
  background-color: #eee;
  border-color: #353535;
}

#navigation-bar ul li.active,
#navigation-bar ul li.active a,
#navigation-bar ul li:hover,
#navigation-bar ul li:hover a {
  color: #000;
}

#navigation-bar ul li.not-circle {
  background-color: transparent;
  color: #353535;
  width: auto;
  height: 20px;
  line-height: 20px;
  border: none;
  text-shadow: 1px 1px 2px #000, 0 0 0.3em #353535;
  padding: 0 10px;
}
/* !Блок навигации по слайдам */

/* Контейнер с документами */
.docs-container {
  
}

.docs-container .imgs {
  width: 90%;
  margin-left: 5%;
  padding: 2.2em 0;
  text-align: center;
}

.docs-container .imgs img {
  display: inline-block;
  box-shadow: 0 0 2em #353535;
  margin-bottom: 2em;
}

.docs-container.no-shadow .imgs img {
  box-shadow: none !important;
}

.docs-container.far .imgs img {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.docs-container.closer .imgs img {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.docs-container.single .imgs img {
  max-width: 60%;
}

.docs-container.double .imgs img {
  max-width: 40%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.triple .imgs img {
  max-width: 28%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.four .imgs img {
  max-width: 20%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.six .imgs img {
  max-width: 12%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.seven .imgs img {
  max-width: 9%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container .desc {
  width: 70%;
  margin-left: 15%;
  padding: 0 0 3em 0;
  text-align: center;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}

.docs-container .desc p {
  padding: 0 !important;
  margin: 0 !important;
  width: auto !important;
  font-size: 1em !important;
}
/* !Контейнер с документами */

/* Lightbox */
#lightbox {
  font-weight: normal;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
}

.lb-caption a {
  color: #ccc;
}
/* !Lightbox */

/* Блок browser isn't supported */
.not-supported {
  display: none;
}

html.no-opacity .not-supported,
html.no-textshadow .not-supported,
html.no-boxshadow .not-supported,
html.no-backgroundsize .not-supported,
html.no-rgba .not-supported,
html.no-hashchange .not-supported {
  display: block !important;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2e639e;
  color: #fff;
}

html.no-opacity .not-supported a,
html.no-textshadow .not-supported a,
html.no-boxshadow .not-supported a,
html.no-backgroundsize .not-supported a,
html.no-rgba .not-supported a,
html.no-hashchange .not-supported a {
  font-weight: bolder;
  color: #fff;
}

html.no-opacity .not-supported h1,
html.no-textshadow .not-supported h1,
html.no-boxshadow .not-supported h1,
html.no-backgroundsize .not-supported h1,
html.no-rgba .not-supported h1,
html.no-hashchange .not-supported h1 {
  text-align: center;
  width: 100%;
}

html.no-opacity .not-supported .description,
html.no-textshadow .not-supported .description,
html.no-boxshadow .not-supported .description,
html.no-backgroundsize .not-supported .description,
html.no-rgba .not-supported .description,
html.no-hashchange .not-supported .description {
  margin-left: 25%;
  width: 50%;
}
/* !Блок browser isn't supported */

/* Блок no js support */
html.js .no-js-support {
  display: none !important;
}

.no-js-support {
  background-color: #fff;
  background-image: url("../img/warning-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9998;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
}

.no-js-support h1 {
  text-align: center;
  font-style: italic;
}

.no-js-support p {
  width: 70%;
  margin-left: 15%;
  font-size: 16pt;
}
/* !Блок no js support */

/* Загрузочный экран */
#loader-screen {
  position: absolute;
  position: fixed;
  background-color: #fff;
  min-height: 100%;
  width: 100%;
  z-index: 9997;
  background-image: url("../img/yarregion.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

#loader-screen p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1em;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: italic;
  font-size: 2em;
}
/* !Загрузочный экран */

section .shadow {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 12px 0 #353535;
  position: absolute;
  left: 0;
  top: 0;
}

section#part0 {
  background-image: url("../img/bg_part0_min2560.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  margin-left: 0;
  border-radius: 0;
}

section#part0 .header {
  font-style: italic;
  position: absolute;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  color: #fff;
  bottom: 60px;
  right: 5%;
  max-width: 45%;
  text-shadow: 1px 1px 2px #000, 0 0 0.3em #353535;
}

section#part0 .header h1 {
  font-weight: normal;
  margin: 0;
}

section#part0 .header p {
  padding: 0;
  margin: 0;
  width: inherit;
}

section#part1_1 {
  height: auto;
}

section#part1_1 h1 {
  font-weight: normal;
  font-size: 3em;
  font-family: "PT Sans Pro Caption", serif, Arial;
  text-align: center;
  margin: 4em 0 0 0;
}

section#part1_1 p {
  padding: 0 0 6em 0;
  font-size: 2em;
}

section#part1_1_1 {
  height: auto;
  position: relative;
}

section#part1_1_1 img {
  width: 100%;
}

section#part1_1_1 .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 55px;
  width: 100%;
}

section#part1_1_1 .description p {
  text-align: center;
  padding: 0;
}

section#part1_2 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
}

section#part1_2 .part-container {
  padding: 3em 0;
  background-image: url("../img/bg_part1_2_min2560.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 16% auto;
  background-attachment: fixed;
}

section#part1_2 .history {
  font-size: 2em;
}

section#part1_3 {
  height: auto;
  position: relative;
}

section#part1_3 img {
  width: 100%;
}

section#part1_3 .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 55px;
  width: 100%;
}

section#part1_3 .description p {
  text-align: center;
  padding: 0;
}

section#part1_3 .description p a {
  color: #fff;
  text-decoration: underline;
}

section#part1_4 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
}

section#part1_4 .part-container {
  padding: 3em 0;
}

section#part1_4 .history {
  font-size: 2em;
}

section#part1_5 {
  height: auto;
  position: relative;
}

section#part1_5 img {
  width: 100%;
}

section#part1_5 .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 55px;
  width: 100%;
}

section#part1_5 .description p {
  text-align: center;
  padding: 0;
}

section#part1_5 .description p a {
  color: #fff;
  text-decoration: underline;
}

section#part1_6 {
  height: auto;
  position: relative;
}

section#part1_6 img {
  width: 100%;
}

section#part1_6 .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 55px;
  width: 100%;
}

section#part1_6 .description p {
  text-align: center;
  padding: 0;
}

section#part1_6 .description p a {
  color: #fff;
  text-decoration: underline;
}

section#part1_7 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
}

section#part1_7 p {
  padding: 3em 0;
  font-size: 2em;
}

section#part1_8 {
  height: auto;
}

section#part1_8 .part-container {
  padding: 320px 0 3em 0;
  background-image: url("../img/bg_part1_8.png");
  background-repeat: no-repeat;
  background-position: center -30px;
  background-attachment: fixed;
}

section#part1_9 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
  padding: 3em 0;
}

section#part1_9 p {
  font-size: 2em;
}

section#part1_10 {
  height: auto;
  position: relative;
}

section#part1_10 img {
  width: 100%;
}

section#part1_10 .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 55px;
  width: 100%;
}

section#part1_10 .description p {
  text-align: center;
  padding: 0;
}

section#part1_10 .description p a {
  color: #fff;
  text-decoration: underline;
}

section#part1_11 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
  padding: 3em 0;
}

section#part1_11 .docs-container {
  width: 50%;
  float: left;
}

section#part1_12 {
  padding: 5em 0;
  height: auto;
}

section#part1_13 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
}

section#part1_13 p {
  padding: 6em 0 2em 0;
  font-size: 2em;
}

section#part1_14 {
  height: auto;
}

section#part1_15 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
  padding: 6em 0;
}

section#part1_15 p {
  font-size: 2em;
}

section#part1_16 {
  height: auto;
}

section#part1_16 img {
  width: 100%;
}

section#part1_16 .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 55px;
  width: 100%;
}

section#part1_16 .description p {
  text-align: center;
  padding: 0;
}

section#part1_16 .description p a {
  color: #fff;
  text-decoration: underline;
}

section#part1_17 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
  padding: 3em 0;
}

section#part1_17 .docs-container {
  width: 33%;
  float: left;
}

section#part1_18 {
  height: auto;
}

section#part1_18 .part-container {
  padding: 3em 0;
}

section#part1_18 .history {
  font-size: 2em;
}

section#part1_19 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
  padding: 3em 0;
}

section#part1_19 .docs-container {
  width: 25%;
  float: left;
}

section#part2_1 {
  height: auto;
  padding: 6em 0;
  background-image: url("../img/grunge_wall.png");
}

section#part2_1 h1 {
  font-weight: normal;
  font-size: 3em;
  font-family: "PT Sans Pro Caption", serif, Arial;
  text-align: center;
}

section#part2_1 p {
  font-size: 2em;
}

section#part2_2 {
  height: auto;
  box-shadow: inset 0 7px 5px 0 #353535;
}

section#part2_3 {
  height: auto;
  box-shadow: inset 0 -7px 5px 0 #353535;
}

section#part2_4 {
  height: auto;
  background-image: url("../img/grunge_wall.png");
}

section#part2_5 {
  height: auto;
  padding: 6em 0;
  box-shadow: inset 0 0 9px 0 #353535;
}

section#part2_5 p {
  font-size: 2em;
}

section#part2_6 {
  height: auto;
  background-image: url("../img/grunge_wall.png");
}

section#part2_7 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
  padding: 3em 0;
}

section#part2_7 .docs-container {
  width: 33%;
  float: left;
}

section#part2_8 {
  height: auto;
  background-image: url("../img/grunge_wall.png");
}

section#part2_9 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
  padding: 3em 0;
}

section#part2_10 {
  height: auto;
  background-image: url("../img/grunge_wall.png");
}

section#part2_10 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_10 .docs-container {
  float: left;
}

section#part2_10 .docs-container.l {
  width: 30%;
}

section#part2_10 .docs-container.l .desc {
  padding: 0;
}

section#part2_10 .docs-container.l .desc p {
  width: 100%;
  margin: 0;
}

section#part2_10 .docs-container.r {
  width: 70%;
}

section#part2_10 .docs-container.h {
  width: 50%;
}

section#part2_11 {
  height: auto;
  box-shadow: inset 0 0 9px 0 #353535;
  padding: 3em 0;
}

section#part2_11 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_11 .docs-container {
  float: left;
  width: 50%;
}

section#part2_12 {
  height: auto;
  background-image: url("../img/grunge_wall.png");
  padding: 3em 0;
}

section#part2_12 .docs-container {
  float: left;
  width: 33%;
}

section#part2_13 {
  height: auto;
  padding: 3em 0;
  box-shadow: inset 0 0 9px 0 #353535;
}

section#part2_13 .docs-container {
  float: left;
  width: 50%;
}

section#part2_14 {
  height: auto;
  background-image: url("../img/grunge_wall.png");
  padding: 3em 0;
}

section#part2_14 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_14 .h .docs-container {
  width: 50%;
}

section#part2_14 .t .docs-container {
  width: 33%;
}

section#part2_14 .docs-container {
  float: left;
}

section#part2_15 {
  height: auto;
  padding: 3em 0;
}

section#part2_15 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_15 .h .docs-container {
  width: 50%;
}

section#part2_15 .f .docs-container {
  width: 100%;
}

section#part2_15 .docs-container {
  float: left;
}

section#part2_16 {
  height: auto;
  padding: 4em 0;
}

section#part2_16 p {
  font-size: 2em;
}

section#part2_17 {
  height: auto;
  position: relative;
}

section#part2_17 img {
  width: 100%;
}

section#part2_17 .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 55px;
  width: 100%;
}

section#part2_17 .description p {
  text-align: center;
  padding: 0;
}

section#part2_17 .description p a {
  color: #fff;
  text-decoration: underline;
}

section#part2_18 {
  height: auto;
}

section#part2_19 {
  height: auto;
  position: relative;
}

section#part2_19 img {
  width: 100%;
}

section#part2_19 .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 55px;
  width: 100%;
}

section#part2_19 .description p {
  text-align: center;
  padding: 0;
}

section#part2_19 .description p a {
  color: #fff;
  text-decoration: underline;
}

section#part2_20 {
  height: auto;
}

section#part2_20 p {
  font-size: 2em;
}

section#part2_20 .part-container img.culon {
  display: inline-block;
  width: 24%;
  margin-left: 38%;
}

section#part2_20 .part-container {
  padding: 4em 0 360px 0;
  background-image: url("../img/bg_part2_20.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  /*background-size: 16% auto;*/
  /*background-attachment: fixed;*/
}

section#part2_21 {
  height: auto;
}

section#part2_22 {
  height: auto;
}

section#part2_23 {
  height: auto;
}

section#part2_24 {
  height: auto;
}

section#part2_25 {
  height: auto;
}

section#part2_26 {
  height: auto;
}

section#part2_27 {
  height: auto;
}

section#part2_28 {
  height: auto;
  padding: 3em 0;
}

section#part2_28 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_28 .docs-container {
  width: 33%;
  float: left;
}

section#part2_29 {
  height: auto;
  padding: 3em 0;
}

section#part2_29 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_29 .docs-container {
  width: 33%;
  float: left;
}

section#part2_30 {
  height: auto;
  padding: 4em 0;
}

section#part2_30 p {
  font-size: 2em;
}

section#part2_30 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_30 .h .docs-container {
  width: 50%;
}

section#part2_30 .f .docs-container {
  width: 100%;
}

section#part2_30 .docs-container {
  float: left;
}

section#part2_31 {
  height: auto;
  padding: 4em 0;
}

section#part2_31 p {
  font-size: 2em;
}

section#part2_31 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_31 .h .docs-container {
  width: 50%;
}

section#part2_31 .f .docs-container {
  width: 100%;
}

section#part2_31 .docs-container {
  float: left;
}

section#part2_32 {
  height: auto;
  position: relative;
}

section#part2_32 img {
  width: 100%;
}

section#part2_32 .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 55px;
  width: 100%;
}

section#part2_32 .description p {
  text-align: center;
  padding: 0;
}

section#part2_32 .description p a {
  color: #fff;
  text-decoration: underline;
}

section#part2_33 {
  height: auto;
  position: relative;
}

section#part2_33 img {
  width: 100%;
}

section#part2_33 .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 55px;
  width: 100%;
}

section#part2_33 .description p {
  text-align: center;
  padding: 0;
}

section#part2_33 .description p a {
  color: #fff;
  text-decoration: underline;
}

section#part_last {
  background-image: url("../img/bg_end.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  margin: 0;
  border-radius: 0;
}

section#part_last .header {
  font-style: italic;
  position: absolute;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  color: #fff;
  bottom: 60px;
  right: 5%;
  max-width: 70%;
  text-shadow: 1px 1px 2px #000, 0 0 0.3em #353535;
}

section#part_last .header h1 {
  font-weight: normal;
  margin: 0;
}

section#part_last .header p {
  padding: 0;
  margin: 0;
  width: inherit;
}

/* Для мобильных экранов */
@media screen and (max-width: 720px) {
  body {
    min-width: 720px;
  }
}
/* Для мобильных экранов */

/* Для экранов, бОльших чем 720 пикс в длину */
@media screen and (min-width: 721px) {
  body {
    min-width: 1150px;
  }
}
/* Для экранов, бОльших чем 720 пикс в длину */

/* Для экранов, бОльших чем 1280 пикс в длину */
@media screen and (min-width: 1281px) {
}
/* Для экранов, бОльших чем 1280 пикс в длину */

/* Для экранов, бОльших чем 1366 пикс в длину */
@media screen and (min-width: 1367px) {
}
/* Для экранов, бОльших чем 1366 пикс в длину */

/* Для экранов, бОльших чем 1440 пикс в длину */
@media screen and (min-width: 1441px) {
}
/* Для экранов, бОльших чем 1440 пикс в длину */

/* Для экранов, бОльших чем full hd */
@media screen and (min-width: 1921px) {
}
/* Для экранов, бОльших чем full hd */

/* Для экранов, бОльших чем macbook pro with retina display 13' */
@media screen and (min-width: 2561px) {
}
/* Для экранов, бОльших чем macbook pro with retina display 13' */
